<div class="length-card-container">
    <mat-card>
        <mat-card-content class="length-card-body">
            <table class="table">
                <td>
                    <mat-form-field class="input-fields">
                        <mat-select [(ngModel)]="leftSelect">
                            <mat-option *ngFor="let unit of leftUnits" [value]="unit"> {{unit}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td class="table-button-cell">
                    <button class="switch-button" mat-button (click)="switchClicked()">Switch</button>
                </td>
                <td>
                    <mat-form-field class="input-fields">
                        <mat-select [(ngModel)]="rightSelect">
                            <mat-option *ngFor="let unit of rightUnits" [value]="unit"> {{unit}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </table>
            <table class="table">
                <td>
                    <mat-form-field class="input-fields">
                        <input matInput type="number" [(ngModel)]="inputInputField" (change)="convert()">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="input-fields">
                        <input matInput readonly [(ngModel)]="outputInputField">
                    </mat-form-field>
                </td>
            </table>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="convert-button" (click)="convert()">Convert</button>
        </mat-card-actions>
    </mat-card>
</div>
